.input {
  padding: 8px 8px 8px 0px;
  padding-left: calc(1em + 32px);
  min-width: unset;
  width: 100%;
  color: #fff;
  background: #00132da0;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 4px;
}
