.container {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  cursor: pointer;
  position: absolute;
  left: 4px;

  display: grid;
  place-items: center;
  height: 1.5rem;
  min-width: 2rem;
  border-radius: 6px;
  color: #fff;
  border: none;
  outline: none;
}
